#map
{
	width: 100%;
	height: 800px; 
}

/* Action button */
.action-button
{
    cursor : pointer;
}

/* Action button of color */
.action-button-color
{
  width: 30px;
  background-color: #ffffff;
}

.action-button-color:hover
{
  background-color: #eeeeee;
}

/* Action button splider */
.leaflet-control-div-slider  
{
    background-color: #fff;
    position: absolute;
    border: 0!important;
    max-width: 0;
    max-height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 30px;
    margin-top: -30px;
}

/* Action button splider content */
.leaflet-control-div-slider-content  
{
    padding: 5px;
    display: inline-block;
    max-width: 250px;

}

/* Action button open class */
.leaflet-control-div-slider-open  
{
    border: inherit!important;
    max-width: 250px;
    max-height: 200px;
}

/* Div of the background menu */
.background-div
{
  padding: 4px 6px;
  background: white;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 200px;
  display: inline-block
}

/* tooltip label */
.label-tooltip
{
    position: absolute;
    color : black;
    text-align:center;
    background: none;
    box-shadow: none;
    font-weight: bold;
    border: none !important;
}

/* box of the layers control */
.layers-control
{
    display: inline-block;
    padding: 4px 6px;
    background: white;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 250px;

    max-height : 300px;

    overflow-y: scroll;
}

/* title of the layers control */
.layers-list-title
{
    text-align:center;
}

/* line div of the layers control */
.layers-list-line
{
    border-bottom: 1px dashed black;
    padding-top: 2px;
    align-items: center;
}

/* selection part of the line div of the layers control */
.layers-list-line-select
{
    display: inline-block;
    width: 240px;
    cursor : pointer;
}

.layers-list-line-select:hover
{
    background-color: #eeeeee;
}

/* color div of the layers control */
.layers-list-color
{
    display: inline-block;
    width:18px;
    height:18px;
    border-radius: 4px;
    vertical-align:middle;
    margin-bottom: 2px
}

/* icon of the layers control (ex:edit) */
.layers-list-icon
{
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align:middle;
}

.layers-list-icon:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* text (label value) of the layers control */
.layers-list-text
{
    display: inline;
    margin-left : 5px;
    margin-top: -2px;
}

/* icon for chanhe bisibility of the layers control */
.layers-list-icon-hide
{
    float: right;
    width: 24px;
    height: 16px;
    vertical-align:middle;
    padding: 2px;
    border-radius: 5px;
}

.layers-list-icon-hide:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* setting icon for close */
.settings-icon-close
{
    float: right;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    
}

.settings-icon-close:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* setting input for zoom */
.settings-zoom-input
{
    width: 50px;
}

/* setting button for get target */
.settings-button-target
{
    width: 20px;
    height: : 22px;
    padding: 0px;
    margin-left: 3px;
}

/* setting button for sav */
.settings-button-sav
{
    display: inline-block;
    text-align:center;
}