
/* Icon action of maps actions (edit and view) */
.iconAction
{
  width: 20px;
  vertical-align:middle;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
}

.iconAction:hover
{
  background-color: #aaaaaa;
}