

.my-custom-pin
{
  filter: invert(53%) sepia(30%) saturate(6689%) hue-rotate(162deg) brightness(95%) contrast(103%);
}

#map
{
	width: 100%;
	height: 800px; 
  background: #ffffff;
}

/* Update dialog */
.ui-dialog 
{ 
  z-index: 1000 !important;
}

/*
#dialog-modify-popUp
{
  visibility: hidden;
}
*/
#textAreaModifyPopUp
{
  width: 420px;
  height: 260px;
}

/* Action button */
.action-button
{
  cursor : pointer;
}

/* Action button of color */
.action-button-color
{
  width: 30px;
  background-color: #ffffff;
}

.action-button-color:hover
{
  background-color: #eeeeee;
}

.action-button-ok-slider
{
}

/* */
.button-logged
{
}

/* Action button splider */
.leaflet-control-div-slider  
{
    background-color: #fff;
    position: absolute;
    border: 0!important;
    max-width: 0;
    max-height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 30px;
    margin-top: -30px;
    vertical-align:middle;
}

/* Action button splider content */
.leaflet-control-div-slider-content  
{
    padding: 5px;
    display: inline-block;
    max-width: 250px;

}

/* Action button open class */
.leaflet-control-div-slider-open  
{
    border: inherit!important;
    max-width: 250px;
    max-height: 200px;
}

/* Div of the background menu */
.background-div
{
  padding: 4px 6px;
  background: white;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 200px;
  display: inline-block
}

/* tooltip label */
.label-tooltip
{
    position: absolute;
    color : black;
    text-align:center;
    background: none;
    box-shadow: none;
    font-weight: bold;
    border: none !important;
}

/* box of the layers control */
.layers-control
{
    display: inline-block;
    padding: 4px 6px;
    background: white;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 250px;

    max-height : 570px;

    overflow-y: scroll;
}

/* title of the layers control */
.layers-list-title
{
    text-align:center;
}

/* line div of the layers control */
.layers-list-line
{
    /* border-bottom: 1px dashed black; */
    border-bottom: 1px solid black;
    padding-top: 2px;
    align-items: center;
}

/* selection part of the line div of the layers control */
.layers-list-line-select
{
    display: inline-block;
    width: 240px;
    cursor : pointer;
}

.layers-list-line-select:hover
{
    background-color: #eeeeee;
}

/* parent layer div */
.layers-list-line-parent
{

}

/* Paint zone div */
.layers-list-line-child
{
    border-top: 1px dashed black;
}

/* button for add paintzonediv */
.layers-list-line-add-child
{
    text-align: center;
    border-top: 1px dashed black;
}

/* button for add paintzonediv icon div */
.layers-list-line-add-child-icon-div
{
    width: 100%;
    padding-top: 3px;
}

.layers-list-line-add-child-icon-div:hover
{
    cursor : pointer;
    background-color : #cccccc;
}

/* button for add paintzonediv icon */
.layers-list-line-add-child-icon
{
    width: 15px;
    
}

/* Icon for PaintZoneDiv */
.layers-list-zone-icon
{
    width: 15px; 
    height: 15px; 
    float : right;
    vertical-align:middle;
    padding: 1px;
}

.layers-list-zone-icon:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

.layers-list-input-text
{
  width: 210px;
}

/* Input for chnage date */
.layers-list-input-date
{
    width: 80px;
}

/* color div of the layers control */
.layers-list-color
{
    display: inline-block;
    width:18px;
    height:18px;
    border-radius: 4px;
    vertical-align:middle;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
}

/* icon of the ParentLayerDiv (ex:edit) */
.layers-list-icon
{
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align:middle;
}

.layers-list-icon:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* text (label value) of the layers control */
.layers-list-text
{
    display: inline;
    margin-left : 5px;
    margin-top: -2px;
}

/* icon for chanhe bisibility of the layers control */
.layers-list-icon-hide
{
    float: right;
    width: 24px;
    height: 16px;
    vertical-align:middle;
    padding: 2px;
    border-radius: 5px;
}

.layers-list-icon-hide:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* Div for add a new layer */
.layers-list-line-add-parent-layer
{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    /* border-radius: 5px; */
    text-align:middle;
    cursor : pointer;
    padding: 2px;
    padding-top: 4px;
    padding-left: 4px;
}

.layers-list-line-add-parent-layer:hover
{
    background-color: #cccccc;
}

/* setting icon for close */
.settings-icon-close
{
    float: right;
    width: 20px;
    height: 20px;
    vertical-align:middle;
}

.settings-icon-close:hover
{
    background-color : #aaaaaa;
    cursor : pointer;
}

/* setting input for zoom */
.settings-zoom-input
{
    width: 50px;
}

/* setting input for time */
.settings-time-input
{
  width: 80px;
}

/* setting button for get target */
.settings-button-target
{
    width: 20px;
    height: : 22px;
    padding: 0px;
    margin-left: 3px;
}

/* setting button for sav */
.settings-button-sav
{
    display: inline-block;
    text-align:center;
}

/* Time splider */
.time-slider 
{
  height: 38px;
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
  width: 300px;
  background: none;
  margin-left: 5px;
}

.time-slider:focus
{
  outline: none;
}

/* Time splider for webkit */
.time-slider::-webkit-slider-runnable-track 
{
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #ADBEF3;
  border-radius: 5px;
  border: 1px solid #000000;
}

.time-slider::-webkit-slider-thumb 
{
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.time-slider:focus::-webkit-slider-runnable-track 
{
  background: #ADBEF3;
}

/* Time splider for moz */
.time-slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s; 
  box-shadow: 1px 1px 1px #000000;
  background: #ADBEF3;
  border-radius: 5px;
  border: 1px solid #000000;
}

.time-slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 26px;
  width: 12px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
}

/* Time splider for ms */
.time-slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.time-slider::-ms-fill-lower {
  background: #ADBEF3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
.time-slider::-ms-fill-upper {
  background: #ADBEF3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
.time-slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
}
.time-slider:focus::-ms-fill-lower {
  background: #ADBEF3;
}
.time-slider:focus::-ms-fill-upper {
  background: #ADBEF3;
}

/* Div of the time */
.time-control
{
    background-color: none;
}

/* Title display the selected date */
/*
.time-slider-title
{
    display: inline;
    padding: 3px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 18px;
    float : right;
    background-color: #4F65A5;
    color : #ffffff;
    min-width: 30px;
    text-align: center;
}
*/

.time-slider-title
{
    display: inline;
    padding: 3px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 6px;
    float : right;
    background-color: #4F65A5;
    color : #ffffff;
    min-width: 30px;
    text-align: center;
}

/* Back to menu button */
.back-menu-button
{
  padding-left: 5px;
  padding-right: 5px;
}

/* Div change language */
.div-change-lang
{
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #aaaaaa;
}

/* Bouton change language */
.change-lang-left
{
  width:10px;
  float: left;
  margin-left: 0px;
  margin-top: 5px;
  vertical-align: middle;
}

.change-lang-left:hover
{
  background-color: #cccccc;
}

.change-lang-right
{
  width:10px;
  float: right;
  margin-right: 0px;
  margin-top: 5px;
}

.change-lang-right:hover
{
  background-color: #cccccc;
}


/* */
#description
{
  display: inline;
  vertical-align: middle;
}
/* */
#description-text
{
  display: inline;
  margin-right: 10px;

}

#text-area-description
{
  width: 100%;
  height: 50px;
}

.layers-marker-line
{
  padding-top: 3px;
  height: 20px;
  user-select: none;
  display: block;
}

.layers-marker-line:hover
{
  
}

.layers-marker-select
{
  width: 270px;
  max-height: 20px;
  display: inline-block;
}

.layers-marker-select:hover
{
  background-color: #cccccc;
}

#dialog-marker-position-select
{
  width:20px; 
  vertical-align:middle; 
  margin-left:5px;
  cursor : pointer;
  padding: 2px;
  border-radius: 5px;
}

#dialog-marker-position-select:hover
{
  background-color: #cccccc;
}

/*
 * Button for change time (left and right)
 */
.timeControl-change-img
{
  width: 15px;
  height: 30px;
  background-color: #ADBEF3;
  border : 2px solid black;

  padding : 0px;
  padding-left: 6px;
  padding-right: 6px;

  margin-left: 2px;
  margin-right: 2px;

  border-radius: 8px;
  cursor : pointer;
}

.timeControl-change-img:hover
{
    background-color: #4F65A5;
}

/*
 * Button for change time when is disable
 */
.timeControl-change-img-disable
{
  background-color: #31406e;
}

.timeControl-change-img-disable:hover
{
  background-color: #31406e;
}

/* */
.geojson-import-button-action
{
  margin-left: 4px;
  margin-right: 4px;
}

.geojson-import-polygon-right
{
  /* float: right; */
  display: inline-block;
}

.geojson-import-polygon
{
  /*display: inline-block;*/
  margin-top : 4px;
  margin-bottom : 4px;
}

.geojson-import-polygon-zone
{
  display : inline-block;
  margin-left: 5px;
}

.geojson-import-point-add
{
  margin-left: 15px;
  
}

.geojson-import-point-add-label
{
  margin-right: 11px;
}

.geojson-import-point-label
{
}