
body
{
  background-color: #5678a7;
  background-image: url("img/background.jpeg");

  margin-top: 0px;
  margin-bottom: 0px;
}

#index-page-content
{
  width: 1000px;
  margin: auto;
  background-color: #ffffff;
  padding: 8px;

  margin-top: -1px;
  margin-bottom: -1px;

  border: 1px solid #8A8A8A;
}

#index-title
{
  text-align: center;

  background-color: #93ACD1;

  margin: 0px;
  margin-top: 10px;

  padding-bottom: 2px;
  padding-top: 2px;

  border-radius: 4px 4px 0px 0px;
}

.description
{
  background-color: #c8d7ec;
  padding: 8px;
  border-radius: 0px 0px 7px 7px;
}

.description p
{
  margin-top : 8px;
  margin-bottom : 8px;
}

.description ul
{
  margin-top : 0px;
  margin-bottom : 0px;
}

.fieldset-map-frame
{
  background-color: #E4ECF6;
  border : 2px solid #7092c2;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;

  margin-top: 5px;
  border-radius: 4px;
}

.fieldset-map-content
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.map-frame
{
  width: 300px;
  border: 2px solid #7092c2;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #c8d7ec;
}

.map-frame:hover
{
  background-color: #aec4e2;
}

.map-frame p
{
  margin-top: 4px;
  margin-bottom: 4px;
}

#create-empty-map-link
{
  display: inline-block;
  background-color: #E4ECF6;
  padding: 10px;
  border : 2px solid #7092c2;
  margin-bottom: 0px;
  color : black;
  text-decoration: none;
  font-size: 1.1em;
  vertical-align:middle;
  cursor: pointer;
  width: 970px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

#create-empty-map-link:hover
{
  background-color: #aec4e2;
}


/* Icon action of maps actions (edit and view) */
.icon-action
{
  width: 20px;
  vertical-align:middle;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
}

.icon-action:hover
{
  background-color: #6991c6;
}

/* Icon action for change public state */
.icon-action-public
{
  width: 20px;
  vertical-align:middle;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
}

.icon-action-public:hover
{
  background-color: #aaaaaa;
}

/* Icon action for change editable state */
.icon-action-editable
{
  width: 20px;
  vertical-align:middle;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
}

.icon-action-editable:hover
{
  background-color: #aaaaaa;
}

/* Icon action for delete a map */
.icon-action-delete
{
  width: 20px;
  margin-left: 5px;
  vertical-align:middle;
  padding: 3px;
  
  cursor: pointer;
}

.icon-action-delete:hover
{
  background-color: #e8394c;
}

/* Icon action for rename a map */
.icon-action-rename
{
  width: 26px;
  margin-left: 20px;
  vertical-align:middle;
  padding: 3px;
  
  cursor: pointer;
}

.icon-action-rename:hover
{
  background-color: #aaaaaa;
}

/* Icon action for change editable state */
#connexion-registration-div
{
  float: right;
  text-align: right;
  border-radius: 5px;
  border : 2px solid #7092c2;
  padding: 5px;

  background-color: #c8d7ec;
}

/* Button for login */
.button-loggin
{
  width: 100px;
}

/* user name where logged */
#user-name-logged-in
{
  padding-top: 0px; 
  margin-top: 0px;
  text-align: center;
}

/* Div for edit public and editable state */
#edit-visibility-div
{
  border-radius: 5px;
  margin-left: 20px;
  border : 2px solid black;
  display: inline-block;
  padding-right: 5px; 
}

/* Div of a map name and acces button */
#map-div
{
  display: inline-block;
}

.map-div
{
  display: inline-block;
}

.icon-menu-new-map
{
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left : 14px;
  margin-right: 14px;
}

/* iframe button for public map */
.iframe-publicmap
{
  width: 25px;
  vertical-align:middle;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* iframe button for user map */
.iframe-usermap
{
  width: 25px;
  vertical-align:middle;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}

#menu
{
  
}

/* follow div manager */
#follow
{
  border : 2px solid #7092c2;
  border-radius: 5px;

  background-color: #c8d7ec;

  font-size: 1.05em;

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;
}

#follow:hover
{
  background-color: #7092c2;
}

#follow-div
{
  display: none; 

  border : 2px solid #7092c2;
  background-color: #c8d7ec;
  padding-bottom: 5px;
}

#follow-div p
{
  margin-top : 10px;
  margin-bottom : 5px;
  margin-left : 10px;
}

#follow-div label
{
  margin-top : 10px;
  margin-left : 10px;
}

#follow-div a
{
  margin-left: 10px;
}

#language-choise-follow
{
  display: inline;
}

.lang-label-follow
{
  margin-left:0px;
  margin-right:15px;
}

/* */
legend {
  font-weight: bold;
}

/* Container of the links (footer) */
#index-links
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link-frame {
  width: 170px;
  border: 2px solid #7092c2;
  padding: 8px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #c8d7ec;
  color: black;
  text-decoration: none;
}

.link-frame:hover {
  background-color: #aec4e2;
}

.icon-link-frame {
  width: 30px;
  height: 30px;
}

.link-frame p {
  margin-top: 4px;
  margin-bottom: 0px;
}

/* */
.img-frame {
  display: flex;
  align-items: center;
  /* margin-top: 5px; */
  margin-bottom: 10px;
}

.img-change {
  width: 30px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.img-change:hover {
  background-color: #7092c2;
}

.img-change-content
{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  display:flex;
  width: 700px;
  height: 400px;
  object-fit: cover;
}

/*
 * Manage smartphone 
 */
@media (max-width: 900px)
{
  body {
    margin: 0px;
    display: flex;
  }

  #index-title {
    margin-left: -1px;
    border-radius: none;
  }

  .description {
    margin-left: -1px;
    font-size:  14px;
  }

  /* Images */
  #index-img-desc {
    width: 80%;
    height : 250px;
  }

  /* Map divs */
  #create-empty-map-link {
    width: 100%;
    padding: 0px;
    border: none;
  }

  #create-empty-map-content {
    padding: 10px;
    border: 2px solid #7092c2;
    border-radius : 5px;
  }

  /* */
  #index-page-content
  {
    width: 100%;
  }

  .map-frame
  {
    width: 44%;
    margin: 1%;
    font-size: 17px;
  }

  .icon-action
  {
    width: 28px;
  }

  .iframe-publicmap
  {
    width: 30px;
  }

  .link-frame {
    width: 28%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

/*
 * Manage smartphone 
 */
@media (max-width: 500px)
{
  .map-frame
  {
    width: 100%;
    font-size: 19px;
  }

  .icon-action
  {
    width: 32px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .iframe-publicmap
  {
    width: 34px;
  }

  .link-frame {
    width: 42%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
  }

}