/* Time splider */
.time-slider
{
  height: 38px;
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
  width: 300px;
  background: none;
  margin-left: 5px;
}

.time-slider:focus
{
  outline: none;
}

/* Time splider for webkit */
.time-slider::-webkit-slider-runnable-track
{
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #ADBEF3;
  border-radius: 5px;
  border: 1px solid #000000;
}

.time-slider::-webkit-slider-thumb
{
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.time-slider:focus::-webkit-slider-runnable-track
{
  background: #ADBEF3;
}

/* Time splider for moz */
.time-slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #ADBEF3;
  border-radius: 5px;
  border: 1px solid #000000;
}

.time-slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 26px;
  width: 12px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
}

/* Time splider for ms */
.time-slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.time-slider::-ms-fill-lower {
  background: #ADBEF3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
.time-slider::-ms-fill-upper {
  background: #ADBEF3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
.time-slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #4F65A5;
  cursor: pointer;
}
.time-slider:focus::-ms-fill-lower {
  background: #ADBEF3;
}
.time-slider:focus::-ms-fill-upper {
  background: #ADBEF3;
}
